<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592582032088-i40vik7k0ld2qghran4ne2suu5nibobv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592582032088-i40vik7k0ld2qghran4ne2suu5nibobv</string>
	<key>API_KEY</key>
	<string>AIzaSyCygtDfkWM2uVzNRhjkO3uPdjJDP_Vlt6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>592582032088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>goals-98562</string>
	<key>STORAGE_BUCKET</key>
	<string>goals-98562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592582032088:ios:ea1639d1cf92b9327875ad</string>
</dict>
</plist>